@import "../../../scss/vars";


.headerModule {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $headerHeight;

  background-color: $mainColor;

  padding: 0 $pagePadding;
}

.links {
  display: flex;

  gap: $defaultGap;
}

.link {
  list-style: none; 
}
