@import '../../../scss/vars';

.formContainer {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: $defaultGap;

  height: $headerHeight;
}

.passwordInputContainer {
  display: flex;
  flex-direction: column;

  gap: $defaultGap / 2;
}

.passwordInput {
  outline: none;
}
