@import "../../scss/vars";

.footerModule {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $headerHeight;

  background-color: $mainColor;

  padding: 0 $pagePadding;
}
