@import '../../../scss/vars';

.mainScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0 $pagePadding;

  height: $mainHeight;
}v

.link {
  list-style: none; 
}
