@font-face {
  font-family: Kyiv;
  src: url(./assets/fonts/KyivTypeSans-VarGX.ttf);
}

body {
  margin: 0;
  font-family: Kyiv, 'sans-serif';
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
}

code {
  font-family: Kyiv, 'sans-serif';
}

#root { 
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  min-height: 100vh;
}
